@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-color: #C4C4C4;
}

*::-webkit-scrollbar {
    width: 4px; 
  }
  
  *::-webkit-scrollbar-track {
    background-color: #C4C4C4; /* Color of the track */
    border-radius: 15px; 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #edecec; /* Color of the thumb */
    border-radius: 15px; 
  }

.transparent-text{
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    text-shadow: none;
}


.mySwiper .swiper-pagination {
    position: absolute;
    z-index: 5;
    width: fit-content;
    display: flex;
    align-items: center;
    bottom: 0;
    margin: 10px;
    gap:10px;
    height: 40px;
}


.mySwiper .swiper-pagination-bullet {
    border: 2px solid #828282;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
  }
.mySwiper .swiper-pagination-bullet-active{
    border: none;
    background-color: black;
    width: 30px;
    height: 30px;
    transition: 0.4s ease ;
}

@media screen and (max-width:1024px) {
    .mySwiper .swiper-pagination {
        left:0;
        justify-content: center !important;
        width: 100% !important;
      }
}